@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/wave-effect.css";

html {
  scroll-behavior: smooth;
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --color-palette-1: #FE8577;
  --color-palette-2: #C6BAFF;
  --color-palette-3: #6AF7BB;
  --color-palette-4: #FFFFFF;
}

body {
  font-family: var(--font-primary);
  background-color: #111827;
  color: #f3f4f6;
}

/* Clases de fuentes personalizadas */
.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}